body {
  background-color: rgba(255, 255, 255, 0.822);
}
.container {
  display: table;
  width: 100%;
  text-decoration: none;
  color: black;
  height: auto;
  overflow: hidden;
}
.clmn {
  float: left;
  display: table-cell;
  padding: 10px;
  background-color: rgb(238, 221, 221);
  border-radius: 8px;
  height: max-content;
  margin: 1% 0 3% 0;
  padding-bottom: 100%;
  margin-bottom: -97%;
}
.left-grd {
  width: 20%;
  text-align: center;
}
.right-grd {
  width: 20%;
}
.center-grd {
  width: 55%;
  border: 1px solid rgba(255, 255, 255, 0.822);
}
.profile-logo {
  padding: 0 10%;
  width: 60%;
  margin-bottom: 15px;
}
.profile-table {
  width: 100%;
  text-align: left;
}
.profile-table tr td {
  text-align: left;
  padding-left: 10px;
  font-size: 16px;
  width: max-content;
}
#center-heading-1 {
  margin-top: 2%;
  text-align: center;
  font-size: 30px;
  border-bottom: 0.5px solid black;
}
.center-heading-2 {
  font-size: 25px;
  text-decoration: underline;
}
#no-test {
  text-align: center;
  font-size: 23px;
}
.brdr {
  border: 1px solid black;
  width: 500px;
  text-align: left;
  padding: 0 5px 0 5px;
}
#result-table tr th {
  text-align: center;
}
.topic-remaining {
  width: 100%;
}
.topics tr th a,
.topics tr td a li {
  text-decoration: none;
  color: black;
}

.a-in-tbl {
  width: 20%;
  text-align: center;
}

.a-in-tbl:hover {
  text-decoration: none;
  color: #184755;
}

.a-in-tbl a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.a-in-tbl a:hover {
  color: darkslategray;
  cursor: pointer;
}
