body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

/*Navbar*/
.navbar {
  overflow: hidden;
  background-color: #005461;
  height:68px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 17px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown i
{
  padding-left:10px;
  padding-right: 10px;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 17px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content i
{
  padding-right:10px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Icon display */
.imgdisplay
{
  float: left;
  width:100px;
  position:relative;
  top:-30px;
}

/*Footer*/
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#005461;
   height: 40px;
   color: white;
   text-align: center;
}


/*Separates segments*/
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}
.catStyle
{
  padding-left: 20px;
  font-style:bold;
  font-size: 20px;
}

/*Table*/
.mainTable
{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color:black;
  color: white;
  border-collapse: collapse;
  width: 1200px;
  text-align: left;
}

.mainTable i
{
  padding-right:10px;
}
.mainTable th
{
  border: 1px solid white;
  background-color:black;
  color: white;
}
.customers 
{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color:black;
  color: white;
  border-collapse: collapse;
  width: 1430px;
}

.customers td, .customers th 
{
  border: 1px solid white;
  padding: 20px;
  background-color:black;
  color: white;
}

.customers th 
{
  padding-top: 12px;
  padding-bottom: 12px;
  background-color:#005461;
  color: white;
}

/*pdf button*/
.pdf
{
  border:none;
  width: 100px;
  height: 35px;
  font-size: 17px;
  background-color: rgb(247, 2, 2);
  color: white;
}
.pdf:hover
{
  color: black;
  background-color: rgba(0, 255, 26,0.5);
  cursor: pointer; 
}

.pdf i
{
  padding-right:10px;
}

/*Buttons*/
.btn2
{
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  font-size: 14px;
}
.btn2:hover
{
  background-color: rgba(3, 252, 94,0.7);
  color: black;
} 
.edit2
{
  background-color: rgb(255, 119, 0);
  position:relative;
  left: 160px;
}
.edit2 i
{
  padding-right:5px;
}
.manage2
{
  background-color: rgb(69, 81, 255);
  position:relative;
  left:-10px;
  top:32px;
}
.manage2 i
{
  padding-right:5px;
}
.delete2
{
  background-color: rgb(247, 2, 2);
  position:relative;
  top:-35px;
  left: 240px;
}
.delete2 i
{
  padding-right:5px;
}

/*Alert box*/
.alert 
{
  padding: 20px;
  background-color: rgba(17, 255, 0,0.7);
  color: black;
  letter-spacing: 2px;
  position: absolute;
  bottom: 80px;
  left:10px;
  width:1470px;
}
.closebtn 
{
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover 
{
  color: black;
}

/*Confirmation dialogue box*/     
.box
{
  border: 1px solid black;
  padding: 20px;
  background-color: white;
  width: 400px;
  color: black;
  letter-spacing: 2px;
  position: absolute;
  top: 20px;
  left: 530px;
  height: 120px;
}

.boxbtn 
{
  margin-left: 15px;
  color:black;
  font-weight: bold;
  float: right;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  background-color:white;
}

.boxbtn:hover
{
  color: red;
}
